.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el header esté por encima de todo */
  height: 60px; /* Altura fija para consistencia, ajusta si es necesario */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 5.6rem;
  max-width: 1200px; /* Ajusta al ancho máximo del contenido */
  margin: 0 auto;
  height: 100%; /* Asegura que el contenedor use toda la altura del header */
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #c5953c77;
}

.register-button {
  background-color: #2515064d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #000000;
  color: white;
}

.logout-button {
  background: none;
  border: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

.logout-button:hover {
  color: #f44336;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px auto;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%; /* Aparece justo debajo del header */
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Menor que el header pero mayor que el contenido */
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .header-container {
    padding: 0.3rem 1.5rem; /* Menos padding en móvil */
  }
}